<main class="main">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-5">
        <div class="card shadow-lg border-0 rounded-lg mt-5">
          <div class="card-header">
            <h5 class="text-center font-weight-light my-4">
              Welcome to the Spoleto system
            </h5>
            <h5 class="text-center font-weight-light my-4">
              Select the desired option
            </h5>
            <div class="card-body">
              <button
                *ngFor="let option of optionsMenu"
                class="btn btn-primary d-block mb-2 w-100 py-3"
              >
                {{ option.label }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<router-outlet n />
