<main class="main">
  <div class="col">
    <h4 class="mt-4">Supplier</h4>
    <div class="row" style="margin-bottom: 20px">
      <div class="hb-col-sm-7 col-md-2">
        <div class="form-group col-md-12">
          <label class="label-white">Supplier list</label>
          <select
            class="custom-select form-control"
            (change)="onSupplierChange($event)"
          >
            <option value="">Select a supplier</option>
            <option *ngFor="let supplier of supplierList" [value]="supplier.id">
              {{ supplier.name }}
            </option>
          </select>
        </div>
      </div>
    </div>

    <h4 class="mt-4">Get Order from Supplier</h4>
    <form #f="ngForm" (ngSubmit)="submitOrder()">
      <div class="col">
        <div class="card p-4" style="overflow: auto">
          <div class="mb-2">
            <h5>{{ getSupplierName(buyProductsFromSupplier.idSupplier) }}</h5>
          </div>
          <table class="table table-bordered" id="dataTable" cellspacing="0">
            <thead>
              <tr>
                <th
                  *ngFor="let columnName of columnsTableGetOrder; let i = index"
                >
                  {{ columnName }}
                </th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let productStock of productStockList; let i = index">
                <td>{{ productStock.name }}</td>
                <td>{{ productStock.cost }}</td>
                <td>
                  <div class="col-md-4">
                    <input
                      type="number"
                      class="form-control"
                      min="0"
                      [value]="buyProductsFromSupplier.purchases?.[i]?.quantity"
                      (change)="onChangeInput($event, productStock.id)"
                    />
                  </div>
                </td>
              </tr>
            </tbody>

            <tfoot>
              <tr>
                <td colspan="2">Total</td>
                <td>$ {{ totalOrder }}</td>
              </tr>
            </tfoot>
          </table>
          <div>
            <button
              type="submit"
              class="btn btn-primary mt-3"
              [disabled]="
                totalOrder === 0 || buyProductsFromSupplier.idSupplier === 0
              "
            >
              Place an order
            </button>
          </div>
        </div>
      </div>
    </form>

    <h4 class="mt-4">Order List</h4>
    <div class="col">
      <div class="card p-4" style="overflow: auto">
        <div class="mb-2">
          <h5>Order List</h5>
          <table class="table table-bordered" id="dataTable" cellspacing="0">
            <thead>
              <tr>
                <th
                  *ngFor="
                    let columnName of columnsTableOrderList;
                    let i = index
                  "
                >
                  {{ columnName }}
                </th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let purchase of purchaseSupplierList; let i = index">
                <td>{{ purchase.id }}</td>
                <td>{{ purchase.supplier?.name }}</td>
                <td>{{ purchase.purchaseDate }}</td>
                <td>{{ purchase.totalValue }}</td>
                <td>{{ purchase.status }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</main>
